footer{
    border-radius: 0px;
    border-radius: 0px;
    background: #2e2b2b;
    color: azure;
    padding: 30px 0px 0px;
    margin-bottom: 0;


}
#bfooter{
    margin-bottom: 0;
    background-color: #000000;
}
.logoimg{
    display: inline-block;
    box-sizing: border-box;
    width: 139px;
    height: 37px;
}